@import "@/styles/_abstractions";

.Root {
  display: block;
  position: relative;
}

.container {
  @include a-container;
  background-image: linear-gradient(var(--b-color-key3) 0, var(--b-color-key4) 100%);
  
  @include a-mq-up(lg) {
    &::before {
      @include a-dapicons;
      color: var(--b-color-key2) ;
      content: "ruedap";
      font-size: 5.5rem;
      left: 50%;
      position: absolute;
      top: 377px;
      transform: translate(-50%, -100%);
    }
  }
}

.heading {
  margin: 0;
  position: relative;
}

.logoSpacer {
  display: block;
  font-size: 0;
  /* 1129 / 987 = 1.143870314 */
  padding-bottom: 114.387%;
  position: relative;
  width: 100%;
}

.logo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
