
@font-face {
  font-family: "dapicons";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/dapicons/dapicons.eot");
  src: url("./fonts/dapicons/dapicons.eot?#iefix") format("embedded-opentype"), url("./fonts/dapicons/dapicons.woff") format("woff"), url("./fonts/dapicons/dapicons.ttf") format("truetype"), url("./fonts/dapicons/dapicons.svg#dapicons") format("svg");
}

body {
  background-color: rgba(24,63,83,0.13);
}
