@import "./abstractions";

:root {
  // Color
  --b-rgb-base: 24, 63, 83;
  --b-color-key1: rgba(var(--b-rgb-base), #{a-fibo(2xs, alpha)});
  --b-color-key2: rgba(var(--b-rgb-base), #{a-fibo(xs, alpha)});
  --b-color-key3: rgba(var(--b-rgb-base), #{a-fibo(sm, alpha)});
  --b-color-key4: rgba(var(--b-rgb-base), #{a-fibo(md, alpha)});

  --b-color-body: #21272d;
  --b-bgColor-body: var(--b-color-key1);
  --b-bgColor-content: #fff;
  
  // Size
  --b-maxWidth-container: 987px;
  
  // Font
  --b-fontFamily-gothic: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --b-fontFamily-helvetica: "Helvetica Neue", Helvetica, Arial, var(--b-fontFamily-gothic)
}
