// ============================================================================
// アイコンフォント`dapicons`を使用するためのミックスインを定義します。
// ============================================================================

@font-face {
  font-family: "dapicons";
  font-style: normal;
  font-weight: normal;
  src: asset-url("dapicons.eot");
  src: asset-url("dapicons.eot?#iefix") format("embedded-opentype"), asset-url("dapicons.woff") format("woff"), asset-url("dapicons.ttf") format("truetype"), asset-url("dapicons.svg#dapicons") format("svg");
}

@mixin dapicons {
  @include font-smoothing(false);
  font-family: "dapicons";
  font-feature-settings: "liga", "dlig";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.dapicons {
  @include dapicons;
}
