// ============================================================================
// アプリケーションに依存したスタイル用のミックスインを定義します。
// ============================================================================

@mixin style-article-section-mark($size-name) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &::before,
  &::after {
    background-color: rgba($color-brand, fibo(xsmall, alpha));  // TODO: color
    border-radius: 100%;
    content: "";
    display: block;
    height: fibo($size-name, px);
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    transform-origin: center center;
    width: fibo($size-name, px);
  }

  $_margin-left: fibo($size-name, px) / 3;

  &::before {
    margin-left: $_margin-left;
  }

  &::after {
    margin-left: -($_margin-left);
  }

  @content;
}
