// ============================================================================
// 記事タイトルのリストを表します。
// ============================================================================

// Block
// ============================================================================

.ArticleList {
  color: #fff;
}

.ArticleList-item {
  @include u-fontSmoothing;
  font-size: 1.4rem;
  line-height: fibo(small, px);
  margin-bottom: 1px;

  @include mq(tablet) {
    font-size: 1.8rem;
    line-height: fibo(medium, px);
  }
}

.ArticleList-yearHeading {
  background-color: rgba($color-brand, fibo(small, alpha));
  color: rgba($color-brand, fibo(large, alpha));
  font-family: $font-family-fjalla;
  height: fibo(small, px);
  letter-spacing: 0.1em;
  text-align: center;

  @include mq(tablet) {
    height: fibo(medium, px);
  }
}

.ArticleList-itemLink {
  @include link-colors(
    #fff,
    rgba($color-brand, fibo(medium, alpha)),
    rgba($color-brand, fibo(small, alpha)),
    rgba($color-brand, fibo(medium, alpha)),
    #fff
  );
  background-color: #fff;
  display: block;
  font-family: $font-family-lucida;
  text-decoration: none;
  width: 100%;

  &:hover {
    .ArticleList-month {
      background-color: rgba($color-brand, 0.26);
    }

    .ArticleList-day {
      background-color: rgba($color-brand, 0.30);
    }

    .ArtcileList-title {
      background-color: rgba($color-brand, 0.34);
    }
  }
}

.ArticleList-year,
.ArticleList-dot {
  display: none;
}

.ArticleList-time {
  background-color: #fff;
  display: block;
  float: left;
}

.ArticleList-month,
.ArticleList-day,
.ArticleList-title {
  height: fibo(small, px);
  text-align: center;

  @include mq(tablet) {
    height: fibo(medium, px);
  }
}

.ArticleList-month,
.ArticleList-day {
  display: none;
  font-family: $font-family-fjalla;
  letter-spacing: 0.1em;
  width: fibo(medium, px);

  @include mq(tablet) {
    display: inline-block;
  }
}

.ArticleList-month {
  background-color: rgba($color-brand, 0.34);
}

.ArticleList-day {
  background-color: rgba($color-brand, 0.38);
}

.ArtcileList-title {
  background-color: rgba($color-brand, 0.42);
  display: block;
  padding: 0 21px;

  @include mq(tablet) {
    margin-left: (fibo(medium, px) * 2);
  }
}
