// ============================================================================
// 1つの記事を表します。`.ArticleBody`ブロックを内包します。
// ============================================================================

// Block
// ============================================================================

.Article-datetimeContainer {
  display: block;
  left: 0;
  margin: auto;
  max-width: $max-width-Container;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.Article-datetimeSpacer {
  display: block;
  font-size: 0;
  padding-bottom: 61.8%;
  position: relative;
  width: 100%;
}

.Article-datetimeSVG {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.Article-datetimeSVGCircle {
  fill: rgba($color-brand, fibo(small, alpha));  // TODO: color
}

.Article-datetimeSVGText {
  @include u-fontSmoothing;
  fill: #fff;
  font-family: $font-family-fjalla;
  font-size: fibo(xsmall, rem);
  letter-spacing: 0.1em;
}

.Article-title {
  @include u-fontSmoothing;
  font-family: $font-family-crimson;
  font-size: fibo(xsmall, rem);
  font-weight: normal;
  line-height: 1.618;
  margin-bottom: fibo(small, px);
  margin-left: auto;
  margin-right: auto;
  max-width: 877px;
  text-align: center;
  width: 90%;

  // TODO: 877px
  @include mq(tablet) {
    font-size: fibo(small, rem);
    margin-bottom: fibo(medium, px);

    span::after {
      content: "\000a";
      white-space: pre-line;
    }
  }
}

.Article-githubLink {
  @include style-article-section-mark(xsmall);
  height: fibo(xsmall, px);
  margin-bottom: fibo(small, px) + 10px;
  width: fibo(xsmall, px) * 2;

  @include mq(tablet) {
    @include style-article-section-mark(small);
    height: fibo(small, px);
    margin-bottom: fibo(medium, px) + 10px;
    width: fibo(small, px) * 2;
  }
}

.Article-body {
  margin: 0 auto;
  max-width: 699px;
  width: 90%;
}

.Article-nav {
  margin-top: fibo(xlarge, px);
  padding-bottom: fibo(xlarge, px);

  @include mq(tablet) {
    margin-top: fibo(xxlarge, px);
    padding-bottom: fibo(xxlarge, px);
  }
}

.Article-navLink {
  $_hover: rgba($color-brand, fibo(medium, alpha));
  @include link-colors(#fff, $_hover, $_hover, #fff, #fff);
  @include u-dapicons;
  @include u-fontSmoothing;
  background-color: rgba($color-brand, fibo(xsmall, alpha));
  border-radius: 100%;
  display: block;
  font-size: 2.6rem;
  height: fibo(medium, px);
  line-height: fibo(medium, px);
  margin: auto;
  text-align: center;
  text-decoration: none;
  width: fibo(medium, px);
}
