// ============================================================================
// 汎用的なコンテナを表します。
// ============================================================================

// Block
// ============================================================================

.Container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: $max-width-Container;
}
