// ============================================================================
// グローバルフッターを表します。
// ============================================================================

// Block
// ============================================================================

.Footer {
  display: block;
  position: relative;
}

.Footer-container {
  background-image: linear-gradient(rgba($color-brand, fibo(small, alpha)) 0, rgba($color-brand, fibo(medium, alpha)) 100%);

  @include mq(tablet) {
    &::before {
      @include u-dapicons;
      color: rgba($color-brand, fibo(xsmall, alpha));
      content: "ruedap";
      font-size: fibo(medium, rem);
      left: 50%;
      position: absolute;
      top: fibo(xxxlarge, px);
      transform: translate(-50%, -100%);
    }
  }
}

.Footer-circle {
  fill: rgba(#fff, fibo(medium, alpha));
  transition: fill 0.3s;

  &:hover {
    fill: rgba(#fff, fibo(large, alpha));
  }
}

.Footer-heading {
  position: relative;
}

.Footer-logoSpacer {
  display: block;
  font-size: 0;
  padding-bottom: 114.387%; // 1129 / 987 = 1.143870314
  position: relative;
  width: 100%;
}

.Footer-logo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
