// ============================================================================
// グローバルヘッダーを表します。
// ============================================================================

// Block
// ============================================================================

.Header-container {
  background-color: $bgcolor-content;
}

.Header-heading {
  // 1 / 1.618 = 0.618
  // (987px * 0.618) - (987px / 2) = 117px
  // 117 / 987 = 0.118541033
  padding-bottom: 11.854%;
}

.Header-logoLink {
  display: block;
  position: relative;
  width: 100%;
}

.Header-logoSpacer {
  display: block;
  font-size: 0;
  margin-top: -50%;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.Header-logo {
  background-color: rgba($color-brand, fibo(xxsmall, alpha)); // TODO: color
  background-image: radial-gradient(
    rgba($color-brand, fibo(xxsmall, alpha)),
    rgba($color-brand, fibo(small, alpha))
  ); // TODO: color
  border-radius: 100%;
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
