// TODO: Move to styled-components
@mixin _bookcover {
  .e-bookCover {
    display: block;
    float: right;
    padding: 0.5em 0 0.5em 1.5em;
    text-align: right;

    > img {
      margin: 0 !important;
      width: 90px;

      @include a-mq-up(md) {
        width: 150px;
      }
    }
  }
}

@mixin _embed {
  .e-embed-instagram {
    display: flex;
    height: 354px;
    margin: 0 auto 2em;
  }

  twitter-widget.twitter-tweet {
    margin: 1.4em auto !important;
  }
}

@mixin _dapicons {
  .e-dapicons {
    @include a-dapicons;
  }
}

.e-articleBody {
  @include _bookcover;
  @include _embed;
  @include _dapicons;
}
