
// Color
// ===========================================================================

$color-body: #21272d;
$bgcolor-body: rgba(44,24,83,0.13);
$bgcolor-content: #fff;

$color-link: #87b249;
$color-link-hover: lighten($color-link, 20%);
$color-link-focus: $color-link-hover;
$color-link-active: lighten($color-link, 10%);
$color-link-visited: grayscale($color-link);


// Font
// ===========================================================================

$font-family-gothic: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-family-helvetica: "Helvetica Neue", Helvetica, Arial, $font-family-gothic;
$font-family-lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", $font-family-gothic;
$font-family-avenir: "Avenir Next", "Avenir", $font-family-helvetica;
$font-family-montserrat: "Montserrat", $font-family-avenir;
$font-family-mono: Consolas, "Liberation Mono", Courier, "Hiragino Kaku Gothic ProN", Meiryo, monospace;

$font-size-medium: 1.4rem;


// Size
// ===========================================================================

$max-width-Container: 987px;

// Media queries
// ===========================================================================

$mq-min-width-mobile: null;
$mq-min-width-tablet: 768px;
$mq-min-width-desktop: 992px;

$mq-min-breakpoints: (
  mobile:  $mq-min-width-mobile,
  tablet:  $mq-min-width-tablet,
  desktop: $mq-min-width-desktop
);

$mq-max-width-mobile: $mq-min-width-tablet - 1px;
$mq-max-width-tablet: $mq-min-width-desktop - 1px;
$mq-max-width-desktop: null;

$mq-max-breakpoints: (
  mobile:  $mq-max-width-mobile,
  tablet:  $mq-max-width-tablet,
  desktop: $mq-max-width-desktop
);
