.e-articleBody {

  > .footnotes {
    color: #777;
    font-size: 1.2rem; // $_fontSize-xs
    line-height: var(--b-ratio-golden);
    margin-top: 55px; // a-fibo(md, px)

    > hr {
      display: none;
    }

    > ol > li {
      margin: 0.5em 0;
    }
    
    .footnote-backref {
      margin-left: 0.3em;
    }
  }
}
