@import "@/styles/_abstractions";

.inner {
  @include a-container;
  background-color: #fff;
}

.heading {
  margin: 0;
  padding-bottom: 11.854%;
}

.logoLink {
  display: block;
  position: relative;
  width: 100%;
}

.logoSpacer {
  display: block;
  font-size: 0;
  margin-top: -50%;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.logoOuter {
  background-color: var(--b-bgColor-body);
  background-image: radial-gradient(var(--b-bgColor-body), var(--b-color-key3));
  border-radius: 100%;
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
