// ============================================================================
// 外部サービスの埋め込みパーツ用のスタイルを定義します。
// ============================================================================

// Twitter
// ============================================================================

.twitter-tweet,
iframe[src*='instagram.com'] {
  display: block;
  margin: 30px auto !important;
}

// Instagram
// ============================================================================

iframe[src*='instagram.com'] {
  height: 327px;
  width: 282px;

  @include mq(tablet) {
    height: 710px;
    width: 612px;
  }
}
