// ============================================================================
// 外部サービスの埋め込みパーツ用のスタイルを定義します。
// ============================================================================

// Twitter
// ============================================================================

.c-tweet {
  display: block;
  margin: 30px auto !important;
}

// Instagram
// ============================================================================

iframe[src*="instagram.com"] {
  display: block;
  height: 327px;
  margin: 30px auto !important;
  width: 282px;

  @include mq(tablet) {
    height: 710px;
    width: 612px;
  }
}
