// ============================================================================
// サイト固有のスタイルで、ブロックにできないものを定義します。
// ============================================================================

// 書籍カバー
// ============================================================================

.c-bookCover {
  display: block;
  float: right;
  padding: 0.5em 0 0.5em 1.5em;
  text-align: right;

  > img {
    margin: 0 !important;
    width: 90px;

    @include mq(tablet) {
      width: 150px;
    }
  }
}
