@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  @if $visited { &:visited { color: $visited; } }
  @if $focus   { &:focus   { color: $focus; } }
  @if $hover   { &:hover   { color: $hover; } }
  @if $active  { &:active  { color: $active; } }
}

@mixin font-smoothing($enable: true) {
  @if $enable {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin mq($min-name, $max-name: null) {
  $media-query: mq-get-media-query($min-name, $max-name);

  @if $media-query {
    @media #{$media-query} {
      @content;
    }
  } @else {
    @content;
  }
}

