@mixin style-article-section-mark($size-name) {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    background-color: rgba($color-brand, fibo(xsmall, alpha));  // TODO: color
    width: fibo($size-name, px);
    height: fibo($size-name, px);
    top: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    transform-origin: center center;
    transform: translate(-50%, 0);
  }

  $_margin-left: fibo($size-name, px) / 3;
  &::before {
    margin-left: $_margin-left;
  }
  &::after {
    margin-left: -($_margin-left);
  }

  @content;
}
