
%ArticleBody-justify {
  word-wrap: break-word;
  text-align: justify;
  text-justify: distribute;
}

%ArticleBody-heading {
  > h2,
  > h3 {
    color: rgba($color-brand, fibo(large, alpha));  // TODO: color
    font-weight: normal;
    line-height: $ratio-golden;
    text-align: center;
  }

  > h2 {
    @include style-article-section-mark(xsmall) {
      &::before,
      &::after {
        top: -(fibo(xlarge, px) / 2);
      }
    }
    margin-top: fibo(xlarge, px);
    margin-bottom: fibo(small, px);
    font-size: 2.3rem;
  }
}

%ArticleBody-p {
  > p {
    margin-top: 1em;
    margin-bottom: 1em;

    > a {
      word-wrap: break-word;
    }
  }
}

%ArticleBody-img {
  > p {
    > img,
    > a > img {
      max-width: 100%;
      display: block;
      margin: fibo(small, px) auto;
    }
  }
}

%ArticleBody-strong {
  strong,
  em {
    font-weight: normal;
    font-style: normal;
    padding: 0.1em;
    background-image: linear-gradient(transparent 0, transparent 60%, rgba($color-brand, fibo(xxsmall, alpha)) 60%, rgba($color-brand, fibo(xxsmall, alpha)) 100%); // TODO: color
  }
}

%ArticleBody-list {
  > ul,
  > ol {
    font-size: $font-size-small-ArticleBody;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left; // overwrite justify
  }

  ul {
    padding-left: 2.5em;
    list-style-type: disc;
  }

  ol {
    padding-left: 2.5em;
    list-style-type: decimal;
  }
}

%ArticleBody-hr {
  > hr {
    $_height: fibo(medium, px);
    @include style-article-section-mark(xxsmall) {
      &::before,
      &::after {
        top: ($_height / 2) - (fibo(xxsmall, px) / 2);
      }
    }
    position: relative;
    border: none;
    display: block;
    width: 100%;
    height: $_height;
  }
}

%ArticleBody-figure {
  figure {
    display: block;
    margin: 1.5em auto;
    padding: 0;
    text-align: center;
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    figcaption {
      font-size: $font-size-xsmall-ArticleBody;
      margin: 0.5em 0;
    }
  }
}

%ArticleBody-citeIcon {
  &::before {
    @include dapicons;
    font-size: 89%;
    color: rgba($color-brand, fibo(medium, alpha));  // TODO: color
    content: "cite";
    margin-right: 0.6em;
  }
}

%ArticleBody-cite {
  > p > cite {
    @extend %ArticleBody-citeIcon;
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: $font-size-small-ArticleBody;
    margin-left: 1em;
    text-align: left; // overwrite justify
  }
}

%ArticleBody-blockquote {
  blockquote {
    margin: 2em 0;
    padding: 0 1.5em;
    border-left: 6px solid rgba($color-brand, fibo(xsmall, alpha));  // TODO: color
    font-size: $font-size-small-ArticleBody;
    color: rgba($color-brand, fibo(large, alpha));  // TODO: color

    cite {
      @extend %ArticleBody-citeIcon;
      font-size: 1.3rem;
      display: block;
      text-align: right;
      font-style: normal;
    }
  }
}

%ArticleBody-small {
  > p > small,
  > p > ins {
    display: inline-block;
    font-size: $font-size-small-ArticleBody;
    line-height: $ratio-golden;
    color: rgba($color-brand, fibo(large, alpha));
    text-align: left; // overwrite justify
    text-decoration: none;

    &::before {
      content: "※";
      margin-right: 0.3em;
    }
  }

  > p > small {
    color: rgba($color-body, fibo(medium, alpha));
  }
}

%ArticleBody-footnotes {
  > .footnotes {
    color: #777;
    font-size: $font-size-xsmall-ArticleBody;
    margin-top: fibo(medium, px);
    line-height: $ratio-golden;

    p {
      margin: 0.5em 0;
    }
  }
}

%ArticleBody-pre {
  > pre {
    @include font-smoothing(false);
    white-space: pre;
    word-wrap: normal;
    font-family: $font-family-mono;
    font-size: 79%;
    font-weight: normal;
    font-style: normal;
    line-height: $ratio-golden;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

%ArticleBody-highlight {
  > .highlight {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    padding: 13px;
    border: 3px solid #eeeeee;
    background-color: white;
    box-shadow: inset 0 0 0 1px #cccccc;
  }
}

%ArticleBody-code {
  code, kbd {
    @include font-smoothing(false);
    white-space: pre;
    word-wrap: break-word;
    font-family: $font-family-mono;
    font-size: 79%;
    margin: 0 0.2em;
    padding: 0 0.4em;
    vertical-align: 0.1em;
    background-color: #f2f2f2;
    border: 1px solid rgba(gray, 0.4);
    border-radius: 2px;
  }
}

%ArticleBody-bookCoverLink {
  .book-cover-link {
    text-align: right;
    display: block;
    float: right;
    padding: 0.5em 0 0.5em 1.5em;

    > img {
      width: 90px;
      margin: 0 !important;

      @include mq(tablet) {
        width: 150px;
      }
    }
  }
}

.ArticleBody {
  @extend %ArticleBody-heading;
  @extend %ArticleBody-justify;
  @extend %ArticleBody-p;
  @extend %ArticleBody-img;
  @extend %ArticleBody-strong;
  @extend %ArticleBody-list;
  @extend %ArticleBody-hr;
  @extend %ArticleBody-figure;
  @extend %ArticleBody-cite;
  @extend %ArticleBody-blockquote;
  @extend %ArticleBody-small;
  @extend %ArticleBody-footnotes;
  @extend %ArticleBody-pre;
  @extend %ArticleBody-highlight;
  @extend %ArticleBody-code;
  @extend %ArticleBody-bookCoverLink;
  @include font-smoothing;

  font-family: $font-family-lucida;
  font-size: $font-size-medium-ArticleBody;
  line-height: 1.8;

  @include mq(tablet) {
    line-height: 2;
  }
}
