
.Article {
}

.Article-datetimeContainer {
  display: block;
  position: absolute;
  max-width: $max-width-Container;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.Article-datetimeSpacer {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 61.8%;
  font-size: 0;
}

.Article-datetimeSVG {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.Article-datetimeSVGCircle {
  fill: rgba($color-brand, 0.34);  // TODO: color
}

.Article-datetimeSVGText {
  @include font-smoothing;
  font-family: $font-family-fjalla;
  letter-spacing: 0.1em;
  font-size: fibo(xsmall, rem);
  fill: #fff;
}

.Article-title {
  @include font-smoothing;
  margin-right: auto;
  margin-bottom: fibo(medium, px);
  margin-left: auto;
  max-width: 877px;
  font-family: $font-family-crimson;
  font-size: fibo(small, rem);
  font-weight: normal;
  text-align: center;
  line-height: 1.618;

  // TODO: 877px
  @include mq(tablet) {
    span::after {
      content: "\000a";
      white-space: pre-line;
    }
  }
}

.Article-githubLink {
  @include style-article-section-mark(small);
  width: fibo(small, px) * 2;
  margin-bottom: fibo(medium, px) + 10px;
}

.Article-body {
  margin: 0 auto;
  max-width: 699px;
  width: 90%;
}
