
%ArticleBody-justify {
  word-wrap: break-word;
  text-align: justify;
  text-justify: distribute;
  // > ul > li,
  // > ol > li,
  // > p > ins,
  // > p > cite,
  // > .footnotes {
  //   text-align: left;
  // }
}

%ArticleBody-heading {
  > h2,
  > h3 {
    font-weight: normal;
    text-align: center;
  }

  > h2 {
    @include style-article-section-mark(xsmall) {
      &::before,
      &::after {
        top: -(fibo(xlarge, px) / 2);
      }
    }
    margin-top: fibo(xlarge, px);
    margin-bottom: fibo(medium, px);
    font-size: 2.3rem;
  }
}

%ArticleBody-p {
  > p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

%ArticleBody-strong {
  strong,
  em {
    font-weight: normal;
    font-style: normal;
    padding: 0.1em;
    background-image: linear-gradient(transparent 0, transparent 60%, rgba(83,83,24,0.13) 60%, rgba(83,83,24,0.13) 100%); // TODO: color
  }
}

%ArticleBody-list {
  ul,
  ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2.5em;
    font-size: $font-size-small-ArticleBody;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

%ArticleBody-figure {
  figure {
    display: block;
    margin: 1.5em auto;
    padding: 0;
    text-align: center;
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    figcaption {
      font-size: $font-size-xsmall-ArticleBody;
      margin: 0.5em 0;
    }
  }
}

%ArticleBody-cite {
  > p > cite {
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: $font-size-medium-ArticleBody;
    margin-left: 1em;
    &::before {
      @include dapicons;
      font-size: 89%;
      color: rgba(63,24,83,0.55);  // TODO: color
      content: "cite";
      margin-right: 0.6em;
    }
  }
}

%ArticleBody-pre {
  > pre {
    @include font-smoothing(false);
    white-space: pre;
    word-wrap: normal;
    font-family: $font-family-mono;
    font-size: 79%;
    font-weight: normal;
    font-style: normal;
    line-height: $ratio-golden;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

%ArticleBody-highlight {
  > .highlight {
    display: block;
    padding: 13px;
    border: 3px solid #eeeeee;
    background-color: white;
    box-shadow: inset 0 0 0 1px #cccccc;
  }
}

%ArticleBody-bookCoverLink {
  .book-cover-link {
    text-align: right;
    display: block;
    float: right;
    padding: 0.5em 0 0.5em 1.5em;

    > img {
      width: 150px;
      margin: 0 !important;
    }
  }
}

.ArticleBody {
  @extend %ArticleBody-heading;
  @extend %ArticleBody-justify;
  @extend %ArticleBody-p;
  @extend %ArticleBody-strong;
  @extend %ArticleBody-list;
  @extend %ArticleBody-figure;
  @extend %ArticleBody-cite;
  @extend %ArticleBody-pre;
  @extend %ArticleBody-highlight;
  @extend %ArticleBody-bookCoverLink;
  @include font-smoothing;

  font-family: $font-family-lucida;
  font-size: $font-size-medium-ArticleBody;
  line-height: 1.8;

  @include mq(tablet) {
    line-height: 2;
  }

  // .CodeRay {
  //   > .code {
  //     border: 1px solid #cccccc;
  //     background-color: white;
  //   }
  // }
}
