
.ArticleList {
  color: #fff;
}

.ArticleList-item {
  @include font-smoothing;
  font-size: 1.8rem;
  line-height: fibo(medium, px);
  margin-bottom: 1px;
}

.ArticleList-yearHeading {
  background-color: rgba($color-brand, fibo(small, alpha));
  color: rgba($color-brand, fibo(large, alpha));
  font-family: $font-family-fjalla;
  height: fibo(medium, px);
  letter-spacing: 0.1em;
  text-align: center;
}

.ArticleList-itemLink {
  @include link-colors(
    #fff,
    rgba($color-brand, fibo(medium, alpha)),
    #fff,
    rgba($color-brand, fibo(medium, alpha)),
    #fff);
  background-color: #fff;
  display: block;
  font-family: $font-family-lucida;
  text-decoration: none;
  width: 100%;

  &:hover {
    .ArticleList-month {
      background-color: rgba($color-brand, 0.26);
    }

    .ArticleList-day {
      background-color: rgba($color-brand, 0.30);
    }

    .ArtcileList-title {
      background-color: rgba($color-brand, 0.34);
    }
  }
}

.ArticleList-year,
.ArticleList-dot {
  display: none;
}

.ArticleList-time {
  float: left;
  background-color: #fff;
  display: block;
}

.ArticleList-month,
.ArticleList-day,
.ArticleList-title {
  height: fibo(medium, px);
  line-height: fibo(medium, px);
  text-align: center;
}

.ArticleList-month,
.ArticleList-day {
  display: inline-block;
  font-family: $font-family-fjalla;
  letter-spacing: 0.1em;
  width: fibo(medium, px);
}

.ArticleList-month {
  background-color: rgba($color-brand, 0.34);
}

.ArticleList-day {
  background-color: rgba($color-brand, 0.38);
}

.ArtcileList-title {
  background-color: rgba($color-brand, 0.42);
  display: block;
  margin-left: (fibo(medium, px) * 2);
  padding: 0 21px;
}
