.BlogLogo {
  display: block;
  width: 100%;
}

@include mq(null, mobile) {
  .BlogLogo-textEinsteinsGroup,
  .BlogLogo-textPhoneNumberGroup,
  .BlogLogo-iconPhone,
  .BlogLogo-caption {
    stroke: none;
    fill: rgba(#fff, 0.8);
  }
}
