meta property='og:type' content='blog'
meta property='og:site_name' content="#{blog_title}"
meta property='og:image' content="#{blog_ogp_image}"
meta property='og:url' content="#{request.url}"
meta property='og:title' content="#{blog_title(article_title(@article))}"
meta property='og:description' content="#{blog_description(article_body(@article))}"
meta property='fb:admins' content='100003246202245'
