meta name='twitter:card' content='summary'
meta name='twitter:site' content='@ruedap'
meta name='twitter:image' content="#{blog_ogp_image}"
meta name='twitter:url' content="#{request.url}"
meta name='twitter:title' content="#{blog_title(article_title(@article))}"
meta name='twitter:description' content="#{blog_description(article_body(@article))}"
meta name='twitter:creator' content='@ruedap'
